* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif ;
}

.page {
    display: none ;
}
#home {
    display: block ;
}
header {
    padding: 10px 5% ;
    background-color: #ddd ;
    display: flex ;
    justify-content: space-between ;
    align-items: center;
    height: 80px ;
}
header li , #section3 li {
    display: inline ;
    margin-right: 15px ;
}
/* container style */ 
.container {
    display: flex ;
    justify-content: space-between ;
    flex-wrap: wrap ;
    width: 80% ;
    margin: 15px auto ;
}
.box {
    width: 32% ;
    margin: 20px 0 ;
    /* padding: 10px ; */
}
.box img {
    margin-bottom: 15px ;
    width: 100% ;
}

h2 , h3 {
    font-size: 2em ;
}
/* links style */ 
a {
    text-decoration: none ;
    color: #221 ;
}
a:hover {
    color: rgb(101, 82, 6) ;
}
/* list style  */
li {
    list-style: none ;
    margin: 3px 0 ;
}
li:hover {
    color: rgb(101, 82, 6) ;
    cursor:  pointer ;
}
span {
    margin: 10px ;
}
/* button style */
button {
    color: #221 ;
    background-color: #99999999 ;
    height: 30px ;
    width: 100% ;
    border: none ;
    padding: 5px ;
    font-size: 1em ;
    margin: 5px auto ;
}
button:hover {
    background-color: #999999aa ;
}
/* input style */
input {
    width: 100% ;
    margin: 5px auto ;
    padding: 2px 5px ;
}
/* footer style */
footer {
    width: 100% ;
    background-color: #ddd ;
}
#inner-footer {
    width: 70% ;
    margin: 0 auto ;
    display: flex ;
    justify-content: space-around ;
    padding: 10px 1em 5% 10px ;  
}
.footer-brands {
    font-size: 50px ;
    font-weight: 700 ;
    line-height: 1 ;
}
.space {
    height: 50px ;
}

/* home style *************************************************************** */ 

#home-sec1 {
    background-color: #ddd ;
    width: 100% ;
}
#home-sec1 input {
    background-color: #99999999 ;
    border: none ;
    font-size: 1em ;
    padding: 5px ;
}
#home-sec1 img {
    box-shadow: 10px 10px 5px #99999999 ;
}

/* Section style */ 
.sec-header {
    width: 80% ;
    margin: 10px auto ;
}
#home-sec4-header  {
    text-align: center ;
    padding: 0 20% ;
}
#home-sec4 .box {
    width: 24% ;
}
#home-sec4 .box img {
    width: 100% ;
}

/* products page style ********************************************************* */ 
#products .box {
    box-shadow: 5px 5px 8px gray ;
    padding: 15px ;
}

/* cart style ****************************************************************** */ 
.cart-container {
    width: 80% ;
    display: flex;
    justify-content: space-between ;
    margin: 15px auto ;
    flex-wrap: wrap ;
}
.col1  {
    width: 35% ;


}
.col2 {
    width: 35% ;
}
.total {
    background-color: #ddd ;
    padding: 1em ;
}
#input-agree {
    width: 10% ;
    width: 10px ;
    height: 10px ;
    border: none ;
    margin: 10px ;
}
#input-agree:active {
    background-color: #221 ;
}
p {
    margin: 10px 0 ;
}

/* responsive ************************ ***************************** */
@media  (max-width: 760px) {
  .container , #inner-footer , header {
    display: flex ;
    flex-direction: column ;
    width: 100% ;
  }
  .box {
    width: 90% ;
    margin: 10px auto ;

  }
  footer {
    padding-left: 20px ;
  }
  .space {
    height: 10px ;
  }
  h2 , h3 {
    font-size: 3em ;
  }
  #home-sec4-header  {
    text-align: center ;
    padding: 5%  ;
  }
  #home-sec4 .box {
    width: 90% ;
  }
  .col1 , .col2 {
    width: 100% ;
  }
}




